# MongoDB credentials pour l'application backend - accès invité
# UTILISATION : CREEZ UN FICHIER .env DANS LE RÉPERTOIRE backend/ COLLEZ-Y LE CONTENU DE CE FICHIER 

MONGO_USER=
MONGO_PASSWORD=
MONGO_DB=
JWT_SECRET=